.map-sprite-icon > div {
	height: 100%;
	background-position: 50% 66.666%;
	background-size: 300% 400%;
}

.leaflet-popup-content {
	margin: 0 !important;
}

.leaflet-container a {
	color: unset !important;
}

.location-input-selection {
	height: 100%;
	width: 100%;
}

.location-input-selection::after {
	content: "📍";
	font-size: 24px;
	line-height: 24px;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}
