

.map-sprite-icon > div {
  height: 100%;
  background-position: 50% 66.666%;
  background-size: 300% 400%;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-container a {
  color: unset !important;
}